<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <title>{% block title %}Abo Accueil{% endblock %}</title>
    </head>
    <body>
            {% block main %}
                <div class="marquee-rtl">
                    <h1>Bienvenue à l'atelier bilan orientation [ 🦹 ]</h1>
                </div>
                <div id="borderAccueil">
                    <div id="date">{{ "now" | date('d-m-Y H:i:s') }}</div>
                    {% if not app.user %}
                    <div class="liens">
                        <a href="{{ path('login') }}" id="connecter">Se connecter</a>
                    </div>
                    {% endif %}
                    {% if app.user %}
                        <div class="liens">
                            <a href="{{ path('logout') }}" id="deconnecter">Se déconnecter</a>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
    <div id="copyright">
        <p>© CopyDown - {{ "now" | date('Y') }} - DWWM</p>
    </div>
    </body>
</html>
